{% extends '::base.html.twig' %}


{% block title} {{ evento.name}} {% endblock}


{% block body %}

	<h1> {{ evento.name}} </h1>

	<h2> {{ evento.sport}} </h2>

	<p> {{ evento.description}} </p>	

{% endblock %}      