<!DOCTYPE html>
<html>
    <body>
        {% block body %}{% endblock %}
        
        {{ render(controller('EventosBundle:Default:lastEventos'))}}

        {% block javascripts %}{% endblock %}
    </body>
</html>